<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iamcodder.otelrezervasyon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="Activity.MainActivityLoad"
            android:theme="@style/TransparentCompat"></activity>
        <activity android:name="Activity.showUserInfo" />
        <activity
            android:name=".Activity.RezervasyonLoad"
            android:theme="@style/TransparentCompat" />
        <activity
            android:name=".Activity.RezervasyonNumarasi"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".Activity.SuccesRezervation" />
        <activity
            android:name=".Activity.UserInfoLoad"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".Activity.UserInfo" />
        <activity android:name=".Activity.ChooseRoomGen" />
        <activity
            android:name=".Activity.ChooseRoomTypeLoad"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".Activity.ChooseRoomType" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>